<pre class="delayed ascii remain">
&nbsp;                                  ,'\                              &nbsp;
&nbsp;    _.----.        ____         ,'  _\   ___    ___     ____       &nbsp;
&nbsp;_,-'       `.     |    |  /`.   \,-'    |   \  /   |   |    \  |`. &nbsp;
&nbsp;\      __    \    '-.  | /   `.  ___    |    \/    |   '-.   \ |  |&nbsp;
&nbsp; \.    \ \   |  __  |  |/    ,','_  `.  |          | __  |    \|  |&nbsp;
&nbsp;   \    \/   /,' _`.|      ,' / / / /   |          ,' _`.|     |  |&nbsp;
&nbsp;    \     ,-'/  /   \    ,'   | \/ / ,`.|         /  /   \  |     |&nbsp;
&nbsp;     \    \ |   \_/  |   `-.  \    `'  /|  |    ||   \_/  | |\    |&nbsp;
&nbsp;      \    \ \      /       `-.`.___,-' |  |\  /| \      /  | |   |&nbsp;
&nbsp;       \    \ `.__,'|  |`-._    `|      |__| \/ |  `.__,'|  | |   |&nbsp;
&nbsp;        \_.-'       |__|    `-._ |              '-.|     '-.| |   |&nbsp;
&nbsp;                                `'                            '-._|&nbsp;
</pre>
